@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body {
  font-family: 'Bangers';
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
}

.container {
  position: relative;
  margin-top: 50px;
  background-color: black;
  width: 720px;
  height: 480px;
}

img {
  position: absolute;
  width: 720px;
  height: 480px;
}

.start {
  margin-top: 50px;
}

.movement {
  margin-top: 0px;
}
