body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
}

canvas {
  margin-top: 200px;
  background-color: black;
  display: block;
}

.controls {
  margin-top: 50px;
  /* color: lightgrey; */
  color: #202124;
}

.movement {
  /* color: lightgrey; */
  color: #202124;
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
