body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
  display: block;
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
